.about_line {
    @include line (white);
    position: sticky;
}

.about {
    width: 100%;
    min-height: 100vh;
    @include texturOne (black);
    position: relative;
    padding: 15vh 1vw 5vh 1vw;
    .span_about {
        color: greenyellow;
    }
    .about_container {
        display: flex;
        justify-content: center;
        padding-left: 12vw;
        .about_text {
            @include createBox($gradient_full);
            text-align: justify;
            width: 60vw;
            padding-top: 0;
            padding-bottom: 1vw;
            margin-top: 15vh;
            z-index: 2;
            -webkit-filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.7));
        }
        h2 {
            padding-left: 12px;
            color: white;
        }
    }
    .about_img {
        position: relative;
        height: 100%;
        .about_image_two {
            position: absolute;
            left: -5vw;
            z-index: 1;
            height: 80vh;
            width: 25vw;
            background-image: url(../image/about_img_1.jpg);
            background-size: cover;
            border-radius: 5px;
        }
    }
}

.about:after {
    @include texturTwo();
}
