.skills_line {
    @include line (white);
}

#skills {
    position: relative;
    width: 100%;
    min-height: 100vh;
    @include texturOne (silver);
    color: black;
    z-index: 5;
    .span_skills {
        color: greenyellow;
        span {
            color: white;
        }
    }
    .skill_img {
        margin-left: 12vw;
        display: inline-block;
        float: left;
        height: 100vh;
        width: 40vw;
        background-image: url(../image/skills.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        box-shadow: inset 0 0 10px;
        -moz-box-shadow: inset 0 0 10px;
        -webkit-box-shadow: inset 0 0 10px;
    }
    .skils_wrapper {
        @include createBox($gradient_white);
        width: 40vw;
        max-height: 70vh;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        left: -2vw;
        top: 14vh;
        padding: 5vh 0 10vh;
        text-align: center;
        -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
        font-family: helvetica;
        i {
            color: greenyellow;
            padding: 0 10px;
            transition: 0.5s ease;
            cursor: pointer;
        }
        i:hover {
            color: white
        }
        .radio_wraper {
            display: flex;
            justify-content: center;
            padding-top: 3vh;
            .skills_radio {
                cursor: pointer;
                height: 5px;
                width: 20px;
                margin: 0 1vh;
                background-color: greenyellow;
                transition: background-color 0.5s ease;
            }
            .active,
            .skills_radio:hover {
                background-color: white;
            }
        }
        .skills_container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            position: relative;
            width: 80vw;
            .carusel {
                width: 40vw;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                
                align-items: stretch;
                .skill_diagram {
                    flex-basis: 150px;
                    text-align: center;
                    .wraper_diagram {
                        position: relative;
                        width: 8vw;
                        height: 8vw;
                        border-radius: 50%;
                        .circleone,
                        .circletwo {
                            position: absolute;
                            border-radius: 50%;
                            height: 8vw;
                            width: 8vw;
                            clip: rect(0, 8vw, 8vw, 4vw);
                            .slideone,
                            .slidetwo {
                                position: absolute;
                                border-radius: 50%;
                                height: 8vw;
                                width: 8vw;
                                background-color: greenyellow;
                                clip: rect(0, 4vw, 8vw, 0);
                                transform: rotate(0deg);
                            }
                            .slideone {
                                clip: rect(0, 8vw, 8vw, 4vw);
                            }
                        }
                        .circleone {
                            clip: rect(0, 4vw, 8vw, 0);
                        }
                        .table {
                            position: absolute;
                            border-radius: 50%;
                            height: 7.5vw;
                            width: 7.5vw;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            align-items: center;
                            color: dimgray
                        }
                    }
                    p {
                        color: black;
                    }
                }
            }
        }
    }
}
