.line
section
    .about
        .container-fluid
            .row
                .col-md-8   
                    .about_text
                        h2 Hello There
                        .container-fluid
                            .row
                                .col-md-6
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa temporibus accusantium commodi est excepturi quidem dolorum ea laborum beatae atque eum quae illum itaque voluptatibus iure asperiores non expedita iste dignissimos maxime, ullam, quisquam omnis vitae fuga tenetur. Tenetur, nisi voluptatum rerum, omnis laboriosam numquam at laudantium excepturi.
                                .col-md-6
                                    p Velit consequuntur soluta reiciendis dolores odit at culpa tempore cupiditate, tenetur praesentium mollitia neque quis reprehenderit. Mollitia nulla itaque repellendus tempore quasi, illo consectetur, eos incidunt ipsa fuga obcaecati magnam modi, suscipit unde. Numquam officiis dignissimos similique quis aspernatur, veniam cumque voluptatibus autem ducimus.
                    
                .col-md-4
                    .about_image_one
    .line