header
    canvas#canvas
    #altBG
        .baner
            img(src="image/myFoto.jpg")
            .header_container
                 h1 volodYmYr KmEt
                 h2 Frontend Developer
        a.container_button(href="#")
            .svg_icon