nav
    .nav_div
        a.nav_a(href="#") 
            p Home
        a.nav_a(href="#") 
            p About me
        a.nav_a(href="#") 
            p Skils
        a.nav_a(href="#") 
            p Works
        a.nav_a(href="#") 
            p Contacts