nav
    .nav_div
        a.nav_a.scrlHome(href="#header") 
            p Home
        a.nav_a.scrlAboutMe(href="#about") 
            p About me
        a.nav_a.scrlSkills(href="#skills") 
            p Skills
        a.nav_a.scrlWorks(href="#") 
            p Works
        a.nav_a.scrlContacts(href="#")
            p Contacts