nav
    .nav_div
        a.nav_a(href="#") 
            p.nav_icon
                i(class="material-icons") &#xE88A;
        a.nav_a(href="#") 
            p.nav_icon
                i(class="material-icons") face
        a.nav_a(href="#") 
            p.nav_icon
                i(class="material-icons") code
        a.nav_a(href="#") 
            p.nav_icon
                i(class="material-icons") work
        a.nav_a(href="#") 
            p.nav_icon
                i(class="material-icons") contact_mail