include mixins/diagram
.skills_line
section
    #skills
        .next_section
            h2.section_header.span_skills my 
                span skills
            .svg_little_arrov
            a
                p View works 
        .skill_img
        .skils_wrapper
            svg(viewBox="0 0 14.4 18.7").svg_carusel.left
                polyline(points="9.5,16.8 3.3,9.4 9.5,1.6 ")
            h2 TECHNICAL SKILLS
            svg(viewBox="0 0 14.4 18.7").svg_carusel.right
                polyline(points="9.5,16.8 3.3,9.4 9.5,1.6 ")
            .skills_container
                .first.carusel
                    +addDiagram ('JavaScript')
                    +addDiagram ('Node')
                    +addDiagram ('AngularJS')
                    +addDiagram ('MySQL')
                    +addDiagram ('HTML5')
                    +addDiagram ('CSS3')
                .second.carusel
                    +addDiagram ('JQuery')
                    +addDiagram ('Bootstrap')
                    +addDiagram ('Jade')
                    +addDiagram ('SCSS')
                    +addDiagram ('Gulp')
                    +addDiagram ('Photoshop')
            .radio_wraper
                .skills_radio
                .skills_radio