include mixins/diagram
.skills_line
section
    #skills
        .next_section
            h2.section_header.span_skills my 
                span skills
            .svg_little_arrov
            a
                p View works 
        .skill_img
        .skils_wrapper
                i(class="fa fa-long-arrow-left fa-2x left" aria-hidden="true")
                h2 TECHNICAL SKILLS
                i(class="fa fa-long-arrow-right fa-2x right" aria-hidden="true")
                .skills_container
                    .first.carusel
                        +addDiagram ('JavaScript')
                        +addDiagram ('Node.js')
                        +addDiagram ('AngularJS')
                        +addDiagram ('MySQL')
                        +addDiagram ('HTML5')
                        +addDiagram ('CSS3')
                    .second.carusel
                        +addDiagram ('JQuery')
                        +addDiagram ('Bootstrap')
                        +addDiagram ('Jade')
                        +addDiagram ('SCSS')
                        +addDiagram ('Gulp')
                        +addDiagram ('Photoshop')
                .radio_wraper
                    .skills_radio
                    .skills_radio