header {
    width: 100%;
    height: 100vh;
    margin: 0;
    #canvas {
        position: absolute;
        top: 0;
        z-index: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    #altBG {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25vh 5vw 0 15vw;
        .baner {
            z-index: 2;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            img {
                margin-top: 5vh;
                width: 17vw;
                height: 17vw;
                border: 1vh solid white;
                border-radius: 50%;
                box-shadow: 0px 0px 5px;
                transform: rotate3d(0,1,0,90deg);
            }
            .header_container {
                display: flex;
                flex-direction: column;
                @include createBox($gradient);
                -webkit-filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.5));
                h1 {
                    color: white;
                    font-family: logo;
                    font-size: 10vh;
                }
                h2 {
                    text-align: right;
                    color: dimgray;
                    font-family: logo;
                    font-size: 5vh;
                }
            }
        }
        .container_button {
            border-radius: 20px;
            box-shadow: 0px 0px 2px;
            width: 25%;
            height: 10vh;
            overflow: hidden;
            border: 2px solid white;
            margin-top: 15vh;
            margin-bottom: 5vh;
            padding: 5px;
            z-index: 3;
            .svg_icon {
                display: block;
                height: 50%;
                width: 100%;
                color: white;
                background: url(../image/arrow.svg);
                background-size: 100% 100%;
            }
        }
    }
}
