nav {
    position: fixed;
    top: 0;
    z-index: 100;
    .nav_div {
        @include texturOne();
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding-top: 1vh;
        .nav_a {
            margin: 1vh 3vw;
            text-decoration: none;
            display: block;
        }
        .nav_a>p{
            padding: 1px 0;
        }
        .nav_a>p:hover {
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            padding: 0;
        }
    }
    .nav_div:after {
        @include texturTwo();
    }
}
