.svg_icon{
                animation-name: arrow;
                animation-duration: 1s;
                animation-timing-function: cubic-bezier(.51,.11,.85,.38);
                animation-iteration-count: infinite;
                
                animation-direction: alternate;
        }

@-webkit-keyframes arrow {
    0% {
        margin-top: 0.5vh;
    }
    100% {
        margin-top: 3.5vh;
    }
}
@keyframes animate {
    0% {
        margin-top: 0.5vh;
    }
    100% {
        margin-top: 3.5vh;
    }
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s
}
@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
