.svg_icon{
                animation-name: animate;
                animation-duration: 1s;
                animation-timing-function: cubic-bezier(.51,.11,.85,.38);
                animation-iteration-count: infinite;
                
                animation-direction: alternate;
        }

@-webkit-keyframes animate {
    0% {
        margin-top: 0.5vh;
    }
    100% {
        margin-top: 3.5vh;
    }
}
@keyframes animate {
    0% {
        margin-top: 0.5vh;
    }
    100% {
        margin-top: 3.5vh;
    }
}
.about_image_one{
                animation-name: img;
                animation-duration: 20s;
                animation-timing-function: cubic-bezier(.81,.51,.41,.93); 
                animation-iteration-count: infinite;
                
                animation-direction: alternate;
        }
@keyframes img {
    0% {
       background-position: 0 0;
    }
    100% {
        background-position: -500px 0;
    }
}

@-webkit-keyframes img {
    0% {
       background-position: 0 0;
    }
    100% {
         background-position: 1000 0;
    }
}