$gradient: linear-gradient(to right, rgba(54, 50, 41, 0), rgba(200, 200, 200, 0.7));
$gradient_full: linear-gradient(to right, rgba(54, 50, 41, 0), rgba(100, 100, 100, 1), rgba(180, 180, 180, 1));
$gradient_white: linear-gradient(to right, rgba(250, 250, 250, 1), rgba(240, 240, 240, 0.5), rgba(230, 230, 230, 0.3), rgba(150, 150, 150, 0));
