mixin addDiagram (text)
    div(class = `skill_diagram ${text}`)
        .wraper_diagram
            .circleone
                .slideone
            .circletwo
                .slidetwo
            .table= text