mixin addDiagram (text)
    .skill_diagram
        .wraper_diagram
            .circleone
                .slideone
            .circletwo
                .slidetwo
            .table.col-md-4
        p=text